<section>
  <!-- <article>
    <h3>Interpolação</h3>
    <p>Strinf renderizada com Interpolação: {{url}} </p>
    <p>Resultado de 1 + 1 e: {{1 + 1}} </p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }} </p>
    <p>Curso de Anugular e gosto de curso: {{ cursoAngular && getCurtirCurso()}} </p>
  </article>

  <article>
    <img src="{{urlImage}}"> <br>
    <img [src]="urlImage">
  </article> -->

  <!-- <article>
    <h3>Class e style binding</h3>
    <div>
      Selecione uma classe
      <select #classe (change)="0" class="custom-select custom-select-sm select-edit">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
    </div>
  </article>
  <br>
  <div class="alert {{ classe.value }}" role="alert">
    Text colorido conform valor do combobox
  </div> -->
<!--  -->
  <!-- <div class="alert alert-success" role="alert" [class.alert-success]="classe.value == 'alert-success'">
    Sucesso
  </div>
  <div class="alert alert-info" role="alert" [class.alert-info]="classe.value == 'alert-info'">
    Info
  </div>
  <div class="alert alert-warning" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
    Alerta
  </div>
  <div class="alert alert-danger" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
    Erro
  </div> -->
<!--  -->
  <!-- <div class="test" role="alert"
  [style.display]="classe.value == 'alert-danger' ? 'flex' : 'none'">
    Erro
  </div>  -->
<!--
<section>
  <article class="event-binding">
    <h3>Event binding</h3>
    <div>
        <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>
        <br>
        <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput />

        <p>Valor atual {{valorAtual}} </p>
        <p>Valor salvo {{valorSalvo}} </p>

        <br>

        <span
          (mouseover)="onMouseOverOut()"
          (mouseout)="onMouseOverOut()"
          [class.highlight]="isMouseOver">
          Passe o mouse sobre mim
        </span>
    </div>
  </article>
</section> -->

<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
      />

      <br>

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      />

      <br>

      <input type="text" [(ngModel)]="nome" >

      <p>Você digitou: {{nome}} </p>

      <div>
        <p>Meu nome é {{pessoa.nome}}  e tenho {{pessoa.idade}} anos </p>

        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">
      </div>

    </div>
  </article>

</section>

