* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff72;
}

.field {
  height: 75px;
  display: flex;
  align-items: center;
}

input {
  margin: 10px;
  border: 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

button {
  height: 50px;
  width: 280px;
  font-size: 20px;
  font-weight: bold;
  color: #6219;
  background-color:#3232;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.4s;
}

button:hover {
  opacity: 0.8;
}
